<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ejercicios comparamejor.com</title>

    <link href="{{ STATIC_URL }}bootstrap3/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">

    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap3/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui-1.10.4.min.js"></script>

  </head>
  <body >


	
<section>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>
        {% block titulo %}
            Bienvenido
        {% endblock titulo %}
      </h1>

      <hr>

      <div class="panel panel-primary">
        <div class="panel-body">
          {% block content %}
            <ul>
              <li><a href="{% url 'execute_process' %}">Ejercicio 1</a></li>
            </ul>
            <ul>
              <li><a href="{% url 'execute_exercise_2' %}">Ejercicio 2</a></li>
            </ul>
            <ul>
              <li><a href="{% url 'exercise_3' %}">Ejercicio 3</a></li>
            </ul>
          {% endblock content %}
        </div>
      </div>
    </div>

  </div>

  {% block javascript %}

  {% endblock javascript %}

</section>
  

  </body>
</html>