{% extends "base.html" %}

{% block titulo %}
	Ejercicio 1
{% endblock titulo %}

{% block content %}

{% if process %}

    {{ process.time }}

    <label id="mensaje"></label> <img src="{{ STATIC_URL }}ima/loading.gif" class="loading" id="loading">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script src="http://localhost:8086/socket.io/socket.io.js"></script>

    <script type="text/javascript">
        // Connection to nodejs
        var socket = io.connect('http://localhost:8086');
        socket.emit('connect');
        // Register process
        socket.emit('register', {
            process_id: {{ process.id }}
        });
        // Process result notification
        socket.on('result_process', function(data){
            if(data.successful==1){
                $("#loading").hide();
                $("#mensaje").html(data.msg);
            }
        });
    </script>
{% else %}
    <form action="." method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-success" value="Ejecutar proceso">
    </form>
{% endif %}

    </br>
    </br>
    <a href="/home/" class="btn btn-success back">Regresar</a>

{% endblock content %}