{% extends "base.html" %}

{% block titulo %}
	Ejercicio 2
{% endblock titulo %}

{% block content %}

{% if less_value %}
    <label>El mejor precio esta en {{ less_value.supermarket }} ${{ less_value.value }}</label>
{% else %}
    <form action="." method="post">
        {% csrf_token %}
        <input type="checkbox" name="supermarket" value="1"> Exito
        <input type="checkbox" name="supermarket" value="2"> Carulla
        <input type="checkbox" name="supermarket" value="3"> Oxxo
        <input type="checkbox" name="supermarket" value="4"> Sao
        <input type="checkbox" name="supermarket" value="5"> Jumbo
        <input type="submit" class="btn btn-success" value="Ejecutar proceso">
    </form>
{% endif %}

    <br>

    <a href="/home/" class="btn btn-success back">Regresar</a>

{% endblock content %}